@font-face {
	font-family: Norse-Bold;
	src: url("res/fonts/Norse-Bold.otf") format("opentype");
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 100);
	font-family: Norse-Bold, sans-serif;
	color: white;
}

img {
	height: 100px;
}